---
import '../styles/global.css';
import HeaderLink from './header-link.astro';
---

<header>
     <div class="tabs-container">
      <div class="wrap">
        <div class="tabs" role="tablist" aria-label="Primary">
          <HeaderLink href="/" >Home</HeaderLink>
          <HeaderLink href="/projects">Projects</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
      </div>
    </div>
</header>