---
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
        <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-MYEQ18716P"/>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MYEQ18716P');
    </script>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <main>
      <article>
      <slot />
    </article>
    </main>
  </body>
</html>